@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  /* Custom Colors for v4 inline */
  --color-nirmal-green: #2e8b2b;
  --color-nirmal-darkgreen: #0a6931;
  --color-nirmal-yellow: #fbbb21;
  --color-nirmal-lightyellow: #fde8bc;
  --color-nirmal-lightgreen: #cce0cd;
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}